#intro{
	position: relative;
	/*border: 1px solid blue;*/
	height:100%x;
	/*background-image: url('wof.bmp');*/
	background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center top;
    background-size: 100% auto;
    /*display: none;*/
}

#intro img{
	width: 100%;
}

#rules_button{
	/*border: 1px solid blue;*/
	display:block;
	height:50px;
	width: 100px;
	position: absolute;
    top: 20px;
    left:50px;
}

#start_game button{
	/*border: 1px solid blue;*/
	display:block;
	height:50px;
	width: 100px;
	position: absolute;
    bottom: 100px;
    left:50%;
}

#game{
  width: 1450px;
  height: 600px;
  margin: 200px auto;
  /*border: 1px solid red;*/

}

/*#wrapper{
	width: 90%;
	margin: 50px auto;
}
*/


#button_controls{
  clear:both;
}

#tile_board{
	word-wrap: break-word;
	/*margin:20px 0px;*/
	/*border: 1px solid red;*/
	/*width: 100%;*/
	/*height:170px;*/
	border-radius: 15px;
}

body{
	background-color: gray;
}

.tile{
	/*border: 1px solid red;*/
	display:inline-block;
	margin: 5px;
	padding: 5px;
	/*background-image: url("http://placehold.it/100x150");*/
	height:120px;
	width: 80px;
	background-color: rgb(234,234,234);
	/*z-index: -1;*/
	/*position:static;*/
}

.space{
	/*border: 1px solid red;*/
	display:inline-block;
	margin: 5px;
	padding: 5px;
	/*background-image: url("http://placehold.it/100x150");*/
	height:120px;
	width: 80px;
	/*background-color: rgb(234,234,234);*/
	visibility: hidden;
}
.tile h2{
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 7em;
	/*display: none;*/
}

#modal_container{
	/*top:5%;*/
	/*right:50%;*/
	/*bottom: 100px;*/
	/*outline: none;*/

}

/*#wrong_modal {
	display: show;
	margin-left: 100px;
}*/

/*.board{
	border: 1px solid red;
	height: 200px;
	background-color: grey;

}


